/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */


.h1 {
	visibility: hidden;
}

@media screen and (min-width: 1081px) {
    img {
        content:url(images/kitten-large.png);
    }
	
}

@media screen and (max-width: 1080px) {
  img {
      content:url(images/kitten-medium.png);
  }
	body {
	    background-color: lightblue;
	}
}

@media screen and (max-width: 820px) {
   img {
      content:url(images/kitten-small.png);
   }
	 body {
	    background-image: url("https://media.tenor.com/images/f72dfd15ebe72fedd7d3aa10359f211b/tenor.gif");
	 }
}

@media screen and (max-width: 600px) {
  img {
      content:url(images/kittyloaf.gif);
  }
	body {
	    background-image: url("https://media.tenor.com/images/6d0cd88338f8c7a484703631c307ce86/tenor.gif");
	}
}

@media screen and (max-width: 600px) {
	
	.h1 {
	visibility: visible;
	}
  .hidden {
        content:url(images/kitten-small.png);
  }
	body {
	    background-image: url("https://media.tenor.com/images/6d0cd88338f8c7a484703631c307ce86/tenor.gif");
	}
}
