/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */


.h1 {
	text-align: center;
	visibility: hidden;
}

@media screen and (min-width: 1081px) {
    img {
        content:url(https://user-images.githubusercontent.com/25018896/30411197-633b2b04-98c4-11e7-8f09-62d5a0d1081e.png);
    }
    body {
	background-image: url("http://img22.laughinggif.com/pic/HTTPzdhcnQtc2NyZWVuc2F2ZXJzLmNvbS9zY3JlZW5zL3doaXRlX25vaXNlL3doaXRlLW5vaXNlLXNjcmVlbnNhdmVyLmdpZgloglog.gif");
    }
	
}

@media screen and (max-width: 1080px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018896/30411191-5c4621aa-98c4-11e7-93dc-9547289d692d.png);
  }
    body {
	background-image: url("http://lodownmagazine.com/sites/default/files/styles/large/public/feature/image/tumblr_lu9iurrrwe1qehk60o1_500.gif?itok=O-vib4Br");
    }
	
}

@media screen and (max-width: 820px) {
   img {
      content:url(https://user-images.githubusercontent.com/25018896/30411171-3cbe376e-98c4-11e7-9ce3-9a20debd884c.png);
   }
	 body {
	    background-color: black;
	 }
}

@media screen and (max-width: 600px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018896/30411186-519a8de0-98c4-11e7-9183-750efa18dc36.gif);
  }
  body {
       background-image: url("http://img36.laughinggif.com/pic/HTTP3ZpZ25ldHRlMi53aWtpYS5ub2Nvb2tpZS5uZXQvb25lLW5pZ2h0LWF0LWZsdW1wdHlzL2ltYWdlcy8xLzE3L1N0YXRpYy5naWYvcmV2aXNpb24vbGF0ZXN0P2NiPTIwMTUwNzIzMDIwMTA1.gif");
  }
}

@media screen and (max-width: 600px) {
	
	.h1 {
	visibility: visible;
	}
  .hidden {
	text-align: center;
        content:url(https://user-images.githubusercontent.com/25018896/30411171-3cbe376e-98c4-11e7-9ce3-9a20debd884c.png);
  }
	body {
	    background-image: url("http://dvcportal.weebly.com/uploads/4/5/1/6/45163595/5366252.jpg");
	}
}
